<p id="notice"><%= notice %></p>

<%= link_to 'Back', outbound_messages_path %>

<br /><br />

<p><small>SUBJECT</small>: <span><strong><%= @message.subject %></strong></span></p>

<p><small>FROM</strong></small>: <span><%= @message.from %></span></p>

<p><small>TAG</strong></small>: <span><%= @message.tag %></span></p>

<p><small>OPEN TRACKING</strong></small>: <span><%= @message.open_tracking %></span></p>

<p><small>LINK TRACKING</strong></small>: <span><%= @message.link_tracking %></span></p>

<p><small>TO</strong></small>:</p>

<div>
  <% @message.message_events.each do |event| %>
    <% if ["Delivered", "Opened"].include?(event['Type']) %>
      <% if event['Type'].eql?("Delivered") %>
        <div>
          <ul style="list-style: none;">
            <li><small><b><%= event['Type'] %></b> to <a href="mailto:<%= event["Recipient"] %>" target="_top"><%= event["Recipient"] %></a> <br /></small></li>
            <li><small><%= event['Details']['DeliveryMessage'] %></small></li>
            <li><small><%= event['Details']['DestinationServer'] %></small></li>
            <li><small><%= event['Details']['ReceivedAt'] %></small></li>
          </ul>
        </div>
      <% elsif event['Type'].eql?("Opened") %>
        <div>
          <ul style="list-style: none;">
            <li><small><b><%= event['Type'] %></b> by <a href="mailto:<%= event["Recipient"] %>" target="_top"><%= event["Recipient"] %></a> <br /></small></li>
            <li><small><%= event['Details']['Summary'] %></small></li>
            <li><small><%= event['Details']['ReceivedAt'].strftime("%b %m, %l:%M:%S %p") rescue '' %></small></li>
            <li><small><%= event['Details']['ReceivedAt'] %></small></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- <p><small>MESSAGE</strong></small>:</p> -->
<!-- .strftime("%b %m, %l:%M:%S %p") rescue '' -->
<iframe style="width: 50vw;height: 75vh;position: relative;" srcdoc="<%= @message.html_body %>" frameborder="0"></iframe>
