<p id="notice"><%= notice %></p>

<%= link_to 'Back', outbound_messages_path %>

<br /><br />

<p><small>SUBJECT</small>: <span><strong><%= @message.subject %></strong></span></p>

<p><small>FROM</strong></small>: <span><a href="mailto:<%= @message.from %>" target="_top"><%= @message.from %></a></span></p>

<p><small>TAG</strong></small>: <i><span><%= @message.tag %></i></span></p>

<p><small>OPEN TRACKING</strong></small>: <span><%= @message.open_tracking %></span></p>

<p><small>LINK TRACKING</strong></small>: <span><%= @message.link_tracking %></span></p>

<p><small>RECIPIENT(s)</strong></small>:</p>

<div>
  <% @message.message_events.each do |event| %>
    <% if ["Delivered", "Opened"].include?(event['Type']) %>
      <% if event['Type'].eql?("Delivered") %>
        <div>
          <ul style="list-style: none;">
            <li><small>Message <font color='green'><b><%= event['Type'] %></b></font> to <a href="mailto:<%= event["Recipient"] %>" target="_top"><%= event["Recipient"].downcase %></a> <br /></small></li>
            <li><small>Delivery message - <font color='grey'><%= event['Details']['DeliveryMessage'] %></font></small></li>
            <li><small>Destination server : <font color='maroon'><%= event['Details']['DestinationServer'] %></font></small></li>
            <li><small><font color='orange'><%= event['ReceivedAt'].to_datetime.strftime("%b %m, %l:%M %p") rescue '' %></font></small></li>
          </ul>
        </div>
      <% elsif event['Type'].eql?("Opened") %>
        <div>
          <ul style="list-style: none;">
            <li><small>Message <font color='blue'><b><%= event['Type'] %></b></font> by <a href="mailto:<%= event["Recipient"] %>" target="_top"><%= event["Recipient"].downcase %></a> <br /></small></li>
            <li>
              <div style="max-width: 50%">
                <small><font color='grey'><%= event['Details']['Summary'] %></font></small>
              </div>
            </li>
            <li><small><font color='orange'><%= event['ReceivedAt'].to_datetime.strftime("%b %m, %l:%M %p") rescue '' %></font></small></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<!-- <p><small>MESSAGE</strong></small>:</p> -->
<!-- <li><small><%= event['ReceivedAt'].strftime("%b %m, %l:%M:%S %p") rescue '' %></small></li> -->
<iframe style="width: 50vw;height: 75vh;position: relative;" srcdoc="<%= @message.html_body %>" frameborder="1"></iframe>
